In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("casestudy2.csv")

In [3]:
df

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 4 columns]

In [4]:
# Finding the current year my selecting the unique years and adding them into a list and finding the max so that
# everytime current year will be the most recent year in the dataset.

current_year = list(df['year'].unique())
current_year = max(current_year)
current_year

2017

In [5]:
df_2017 = df[df['year'] == current_year]
df_2016 = df[df['year'] == 2016]
df_2017

        Unnamed: 0         customer_email  net_revenue  year
435940      435940   mwrossuukz@gmail.com        96.61  2017
435941      435941  qvjfterwnk@gmail.com        176.00  2017
435942      435942   vlyigtgfzs@gmail.com        73.47  2017
435943      435943   yfirychuhk@gmail.com       138.17  2017
435944      435944   fdkiioqtli@gmail.com       156.87  2017
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[249987 rows x 4 columns]

# •	Total revenue for the current year

In [6]:
total_rev_2017 = df_2017['net_revenue'].sum()
total_rev_2017

31417495.030000016

# •	New Customer Revenue e.g. new customers not present in previous year only

In [7]:
def new_cust_revenue(df):
    filtered_df = df[(df['year'] < current_year)]
    
    # selecting all the users who were present in previous years and created the list of users email id
    emails_ls = list(filtered_df['customer_email'])
    
    # Here selecting only those users who does not present in previous years
    inverse_boolean_series = ~(df.customer_email.isin(emails_ls))

    filtered_df1 = df[inverse_boolean_series]
    
    New_customer_revenue = filtered_df1.net_revenue.sum()
    
    return("The revenue of new customer is- {}".format(New_customer_revenue))

new_cust_revenue(df)

'The revenue of new customer is- 28676607.64'

# •	Existing Customer Growth. To calculate this, use the Revenue of existing customers for current year –(minus) Revenue of existing customers from the previous year

In [8]:
sum_curr = df_2017['net_revenue'].sum()
sum_prior = df_2016['net_revenue'].sum()

cust_growth = sum_curr - sum_prior
print("The Existing custome growth is-", cust_growth)

The Existing custome growth is- 5686551.440000016

# •	Existing Customer Revenue Current Year

In [9]:
sum_curr = df_2017['net_revenue'].sum()
print("Existing customer revenue current year-",sum_curr)

Existing customer revenue current year- 31417495.030000016

# •	Existing Customer Revenue Prior Year

In [10]:
sum_prior = df_2016['net_revenue'].sum()
print("Existing customer revenue prior year-",sum_prior)

Existing customer revenue prior year- 25730943.59

# •	Total Customers Current Year

In [11]:
total_cust_curr = df_2017['customer_email'].count()
print("Total customers current year-",total_cust_curr)

Total customers current year- 249987

# •	Total Customers Previous Year

In [12]:
total_cust_prev = df_2016['customer_email'].count()
print("Total customers previous year-",total_cust_prev)

Total customers previous year- 204646

# •	New Customers

In [13]:
filtered_df = df[(df['year'] < current_year)]
    
# selecting all the users who were present in previous years and created the list of users email id
emails_ls = list(filtered_df['customer_email'])

# Here selecting only those users who does not present in previous years
inverse_boolean_series = ~(df.customer_email.isin(emails_ls))

filtered_df1 = df[inverse_boolean_series]

print("New customers-")
filtered_df1

New customers-

        Unnamed: 0         customer_email  net_revenue  year
435940      435940   mwrossuukz@gmail.com        96.61  2017
435941      435941  qvjfterwnk@gmail.com        176.00  2017
435942      435942   vlyigtgfzs@gmail.com        73.47  2017
435943      435943   yfirychuhk@gmail.com       138.17  2017
435944      435944   fdkiioqtli@gmail.com       156.87  2017
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[228262 rows x 4 columns]